// Latest Articles
//

.latest-articles {
  margin: 200px 0;

  &__title {
    margin-bottom: $space-xxl;
  }

  &__grid {
    display: grid;
    gap: $space-xl;
    grid-template-columns: 1fr;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  &__button {
    display: flex;
    justify-content: center;
    margin-top: $space-xl;
  }

  @media #{$medium-up} {
    margin: 260px 0;

    &__grid {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
}
