// Project
//

.project {
  &__image {
    position: relative;
    height: 300px;
    border: 2px solid $color-black;
    transition: 220ms box-shadow ease-in-out;
  }

  &__title {
    font-size: 1.5rem;
    margin-top: $space-m;
  }

  &__description {
    font-size: 0.7rem;
    margin-top: 0;
  }

  &__tags {
    font-size: 0.7rem;
    margin-top: 0;

    .tag {
      background: $color-black;
      font-weight: $font-weight-bold;
      color: $color-white;
      margin-right: $space-xs;
      padding: $space-xs;
      letter-spacing: 0.12em;
      font-size: 12px;
    }
  }
}

.project-small {
  position: relative;
  display: block;

  &__image {
    position: relative;
    height: 500px;
    border-radius: $space-xs;

    &::before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      background: $color-black;
      background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.8) 0%,
        rgba(0, 0, 0, 0) 100%
      );
      z-index: 1;
    }
  }

  &__info {
    z-index: 2;
    position: absolute;
    bottom: $space-m;
    left: $space-m;
  }

  &__title {
    color: $color-white;
    font-size: 1.5rem;
    margin-bottom: $space-xs;
  }

  &__description {
    color: $color-white;
    font-size: 0.7rem;
    margin: 0;
  }
}
