// Project
//

.project {
  position: relative;
  display: block;
}

.image {
  position: relative;
  height: 500px;
  border-radius: var.$space-xs;

  &::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: var.$color-black;
    background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 0) 100%
    );
    z-index: 1;
  }
}

.info {
  z-index: 2;
  position: absolute;
  bottom: var.$space-s;
  left: 0;
  padding-right: var.$space-s;
  padding-left: var.$space-s;
}

.title {
  color: var.$color-white;
  font-size: 2rem;
  margin: 0;
}

.description {
  color: var.$color-white;
  font-size: 1rem;
  margin: 0;
}

.tags {
  display: none;
}

// Big version
.projectBig {
  .image {
    border: 1px solid var.$color-grey-light;
    box-shadow: 0px 0px 50px -13px rgba(0, 0, 0, 0.1);

    &::before {
      background: none;
    }
  }

  .info {
    position: relative;
    bottom: 0;
    left: 0;
    margin-top: var.$space-xs;
    padding: 0;
  }

  .title {
    color: var.$color-black;
  }

  .description {
    color: var.$color-black;
    margin-bottom: var.$space-s;
  }

  .tags {
    display: flex;

    span {
      font-size: 0.7rem;
      background: var.$color-black;
      color: var.$color-white;
      padding: 2px var.$space-xs;
      margin-right: 5px;
      border-radius: var.$space-xs;
      letter-spacing: 0.12em;
      font-weight: var.$font-weight-bold;
    }
  }
}

@media #{var.$medium-up} {
  .title {
    font-size: 2.5rem;
  }

  .info {
    bottom: -#{var.$space-xxl};
    left: var.$space-xs;
    padding: 0;
  }
}
