// Blog
//

.section {
  margin-bottom: 100px;
}

.title {
  font-size: 2.8rem;
  margin: 0;
  margin-bottom: var.$space-xxl;
}

.grid {
  display: grid;
  gap: var.$space-xl;
  grid-template-columns: 1fr;
  list-style: none;
  padding: 0;
  margin: 0;

  li {
    display: grid;
    grid-template-columns: 50px 1fr;
    gap: var.$space-m;
  }
}
