/* Blog */

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 80px 20px;
}

.wrapper h1 {
  font-size: 5rem;
}

.blogList {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 40px;
  padding-top: 40px;
}

.blogPost {
  display: flex;
  flex-direction: column;
  align-content: stretch;
}

.blogPost h2 {
  font-size: 1.5rem;
}

.blogPostDate {
  font-size: 0.9rem;
}

@media screen and (min-width: 960px) {
  .blogList {
    grid-template-columns: 1fr;
  }
}
