/*
 * Blog Post
 */

.blogPost {
  max-width: 800px;
  margin: 0 auto;
  padding: 80px 20px;
}

.blogPost h1 {
  font-size: 5rem;
  text-align: center;
}

.blogPostDate {
  text-align: center;
  font-size: 0.9rem;
  color: #464e53;
  margin-bottom: 5rem !important;
}

.blogPost p {
  margin: 1rem 0;
}

.blogPost p:last-child {
  margin-bottom: 0;
}
