// Blogpost
//

.article {
  margin-bottom: 100px;
}

.title {
  font-size: 2rem;
  text-align: center;
}

.date {
  text-align: center;
  font-size: 0.9rem;
}

.imageWrapper {
  margin-bottom: var.$space-s;
  width: 100%;
  padding: var.$space-s;
}

.image {
  display: block;
  height: 400px;
  border-radius: var.$space-xs;
}

@media #{var.$medium-up} {
  .title {
    font-size: 2.8rem;
  }

  .imageWrapper {
    margin-bottom: var.$space-xl;
    padding: 0;
  }

  .image {
    display: block;
    height: 500px;
    border-radius: 0;
  }
}
