/* Blog */

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 80px 20px;
}

.blogList {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 40px;
  padding-top: 40px;
}

.blogPost {
  border: 2px solid #111a20;
  border-radius: 6px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-content: stretch;
  transition: 0.2s ease;
}

.blogPost:hover {
  box-shadow: 0.5rem 1rem 0 0 #111a20;
}

.blogPost h2 {
  font-size: 1.4rem;
}

.blogPostAuthor {
  color: #464e53;
  margin-top: 1rem;
  font-size: 0.9rem;
}

.blogPostDate {
  color: #464e53;
  font-size: 0.9rem;
}

@media screen and (min-width: 960px) {
  .blogList {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
