// Breakpoints
//
// Media query ranges — or breakpoints —
// --------------------------------------------------

$screen: "only screen";

// Small devices (landscape phones, 576px and up)
$small-up: $screen;

// Medium devices (tablets, 768px and up)
$medium-up: "#{$screen} and (min-width:#{$grid-breakpoint-medium})";

// Large devices (desktops, 992px and up)
$large-up: "#{$screen} and (min-width:#{$grid-breakpoint-large})";

// Extra large devices (large desktops, 1200px and up)
$xlarge-up: "#{$screen} and (min-width:#{$grid-breakpoint-xlarge})";
