// Helpers
//
// Define helper classes
// --------------------------------------------------

/* Container sizes */
.container {
  @include container($container-max-width);
}

.container-small {
  @include container($container-max-width-large);
}

/* Buttons */
.button {
  @include cta-button--primary;
}

.button--secondary {
  @include cta-button--secondary;
}

/* Links */
.link {
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 100% 2px;
  transition: background-size 0.3s, color 0.3s ease;
  line-height: 1.2;
  font-weight: $font-weight-bold;

  &:hover {
    background-size: 0% 2px;
  }
}

/* Hide only visually, but have it available for screen readers */
.visually-hidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
