// Variables
//
// Define the base theme variables
// --------------------------------------------------

// Color system
// --------------------------------------------------

$color-white: #fff;
$color-black: #000;
$color-green: #95dac1;
$color-pink: #f8abd8;
$color-blue: #4c5fd5;
$color-grey: #535353;
$color-grey-light: #f4f4f6;
$color-wheat: wheat;

// Typography
// --------------------------------------------------

$body-font-size: 20px;
$font-space-grotesk: "Space Grotesk", sans-serif;
$font-poppins: "Poppins", sans-serif;
$font-monospace: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New",
  monospace;

$font-weight-thin: 100;
$font-weight-extra-light: 200;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;
$font-weight-extra-bold: 800;
$font-weight-black: 900;

// Spacings
// --------------------------------------------------

$space-xs: 8px;
$space-s: 16px;
$space-m: 24px;
$space-l: 32px;
$space-xl: 40px;
$space-xxl: 48px;

/* Used to set margins for basic HTML elements */
$base-margin-vertical-s: $space-s;
$base-margin-vertical-m: $space-m;

$base-heading-margin-top-s: $space-m;
$base-heading-margin-top-m: $space-m;

/* Used to set paddings for the containers */
$container-padding-horizontal-s: $space-s;
$container-padding-horizontal-m: $space-m;

// Grid breakpoints
// --------------------------------------------------

$grid-breakpoint-small: 576px;
$grid-breakpoint-medium: 768px;
$grid-breakpoint-large: 992px;
$grid-breakpoint-xlarge: 1200px;

// Grid containers
// --------------------------------------------------

$container-max-width-small: 540px;
$container-max-width-medium: 720px;
$container-max-width-large: 960px;
$container-max-width-xlarge: 1440px;

// Theme definitions
// --------------------------------------------------

/* Body */
$base-font-family: $font-poppins;
$base-font-weight: $font-weight-regular;
$base-font-size: $body-font-size;
$base-line-height: 1.5;
$base-body-color: $color-black;
$base-background: $color-white;
$container-max-width: $container-max-width-xlarge;

/* Headings */
$base-heading-font-family: $font-space-grotesk;
$base-heading-font-weight: $font-weight-bold;
$base-heading-color: $color-black;

$base-h1-font-size: 3.125em;
$base-h1-line-height: 1.2;
$base-h2-font-size: 2.618em;
$base-h2-line-height: 1.3;
$base-h3-font-size: 1.931em;
$base-h3-line-height: 1.4;
$base-h4-font-size: 1.618;
$base-h4-line-height: 1.4;
$base-h5-font-size: 1.194em;
$base-h5-line-height: 1.4;
$base-h6-font-size: 1em;
$base-h6-line-height: 1.4;

/* Links */
$base-link-color: $color-black;
$base-link-text-decoration: none;
$base-link-hover-color: $color-black;
$base-link-hover-text-decoration: none;

/* Text */
$base-strong-font-weight: $font-weight-bold;
$base-em-color: $color-black;
