/*
 * Layout app
 */

@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400;500;700&display=swap");

* {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  -ms-overflow-style: scrollbar;
}

body {
  font-family: "Jost", Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  color: #111a20;
  background-color: #fff;
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

/* Buttons & Links */
a {
  font-weight: 500;
  color: #111a20;
  text-decoration: none;
}

button {
  border: none;
  background-color: transparent;
  font-family: inherit;
  padding: 0;
  cursor: pointer;
}

/* Container */
.mainWrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  width: 100%;
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem 1rem 5rem 1rem;
}
