/*
 * Title Section
 */

.titleSectionWrapper {
  padding-top: 80px;
  padding-bottom: 80px;
}

.title {
  font-size: 3rem;
  margin: 3rem 0;
}

.subtitle {
  font-weight: 500;
  font-size: 1.25rem;
  margin: 1rem 0;
}

@media screen and (min-width: 960px) {
  .title {
    font-size: 4rem;
    width: 90%;
  }

  .subtitle {
    width: 70%;
  }
}
