// Projects
//

.section {
  margin-top: 100px;
  margin-bottom: 200px;
}

.title {
  font-size: 2.8rem;
  margin: 0;
  margin-bottom: var.$space-xxl;
}

.grid {
  display: grid;
  gap: var.$space-m;
  grid-template-columns: 1fr;
  list-style: none;
  padding: 0;
  margin: 0;
}

@media #{var.$medium-up} {
  .title {
    margin-bottom: 100px;
  }

  .grid {
    gap: 100px;
    grid-template-columns: 1fr 1fr;

    li:nth-child(2n) {
      transform: translateY(-100px);
    }
  }
}
