// Front Header
//

.section {
  margin: 0 0 200px 0;
}

.title {
  font-size: 2.7rem;
  margin: 0;
  margin-bottom: var.$space-m;

  span {
    color: var.$color-black;
    background-color: var.$color-wheat;
    padding: 0 var.$space-s;
    border-radius: var.$space-xs;
  }
}

.subtitle {
  font-weight: var.$font-weight-medium;
}

@media #{var.$medium-up} {
  .section {
    margin: 100px 0 200px 0;
  }

  .title {
    font-size: 4.5rem;
  }

  .subtitle {
    max-width: 50%;
  }
}
