// Front Header
//

.section {
  min-height: calc(70vh - 104px);
  display: flex;
  align-items: center;
}

.wrapper {
  width: 100%;
}

.title {
  font-size: 2.3rem;
  margin: 0;
  margin-bottom: var.$space-m;

  span {
    color: var.$color-black;
    background-color: var.$color-secondary;
    padding: 0 var.$space-xs;
    border-radius: var.$space-xs;
  }
}

.subtitle {
  font-weight: var.$font-weight-medium;
}

@media #{var.$medium-up} {
  .section {
    min-height: 70vh;
  }

  .title {
    font-size: 4.5rem;
  }

  .subtitle {
    max-width: 50%;
  }
}
