// Footer
//

.footer {
  color: var.$color-white;
  background-color: var.$color-black;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: var.$space-xxl;
  padding-bottom: var.$space-xxl;
}

.text {
  color: var.$color-white;
}

.textRights {
  font-size: 0.6rem;
  margin-top: 0;
}

@media #{var.$medium-up} {
  .wrapper {
    padding-top: 112px;
    padding-bottom: 112px;
  }
}
