// Front Header
//

.front-header {
  margin: 0 0 200px 0;

  &__title {
    font-size: 2.7rem;
    margin: 0;
    margin-bottom: $space-m;

    span {
      color: $color-black;
      background-color: $color-wheat;
      padding: 0 $space-s;
      border-radius: $space-xs;
    }
  }

  &__subtitle {
    font-weight: $font-weight-medium;
  }

  // Responsive styles
  @media #{$medium-up} {
    margin: 100px 0 200px 0;

    &__title {
      font-size: 4.5rem;
    }

    &__subtitle {
      max-width: 50%;
    }
  }
}
