// Latest Projects
//

.latest-projects {
  padding: 100px 0;
  background: $color-black;

  &__title {
    color: $color-white;
    font-size: 2.8rem;
    margin-bottom: $space-xxl;
  }

  &__grid {
    display: grid;
    gap: $space-s;
    grid-template-columns: 1fr;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  &__button {
    display: flex;
    justify-content: center;
    margin-top: 100px;
  }

  @media #{$medium-up} {
    &__title {
      margin-bottom: 100px;
    }

    &__grid {
      gap: 100px;
      grid-template-columns: 1fr 1fr;

      li:nth-child(2n) {
        transform: translateY(-100px);
      }
    }
  }
}
