// Latest Articles
//

.latest-articles {
  margin: 200px 0;

  &__title {
    font-size: 2.8rem;
    margin: 0;
    margin-bottom: $space-xxl;
  }

  &__grid {
    display: grid;
    gap: $space-xl;
    grid-template-columns: 1fr;
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      display: grid;
      grid-template-columns: 50px 1fr;
      gap: 24px;
    }
  }

  &__button {
    display: flex;
    justify-content: center;
    margin-top: $space-xl;
  }
}
