// Fonts
//
// Load custom fonts
// --------------------------------------------------

// Space Grotesk
// --------------------------------------------------

@font-face {
  font-family: "Space Grotesk";
  font-style: normal;
  font-weight: $font-weight-regular;
  font-display: swap;
  src: url("../assets/fonts/SpaceGrotesk-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Space Grotesk";
  font-style: normal;
  font-weight: $font-weight-medium;
  font-display: swap;
  src: url("../assets/fonts/SpaceGrotesk-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Space Grotesk";
  font-style: normal;
  font-weight: $font-weight-bold;
  font-display: swap;
  src: url("../assets/fonts/SpaceGrotesk-Bold.ttf") format("truetype");
}

// Poppins
// --------------------------------------------------

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: $font-weight-regular;
  font-display: swap;
  src: url("../assets/fonts/Poppins-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: $font-weight-medium;
  font-display: swap;
  src: url("../assets/fonts/Poppins-Medium.ttf") format("truetype");
}
